*{
    margin: 0;
    box-sizing: border-box;
}

figure{
    display: block;
}

img{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-right: 0.8rem;
}

.articles{
    /* width: 100vw; */
    height: 70px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.importat-dates{
    display: flex;
    flex-direction: column;
}

p{
    font-size: 0.9rem;
    font-weight: 200;
}