:root {
    --pink: #F28AB2;
}

.app {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
   
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--pink);
    min-height: 100vh;    
}